<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Projetos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Meu Portfólio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('projects') }}">Meus Projetos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <h1 class="text-center">Meus Projetos</h1>
        <ul class="list-unstyled mt-4">
            <li class="mb-4">
                <h2>API de Gerenciamento de Tarefas</h2>
                <p>Desenvolvi uma API RESTful para um sistema de gerenciamento de tarefas, projetada para ajudar equipes a organizar e acompanhar suas atividades diárias. A API foi construída com Node.js e Express, utilizando um banco de dados MongoDB para armazenar informações sobre tarefas, projetos e usuários.</p>
            </li>
            <li class="mb-4">
                <h2>API de Reserva de Hotéis</h2>
                <p>Desenvolvi uma API para um sistema de reserva de hotéis, com o objetivo de fornecer uma plataforma robusta e escalável para gerenciar reservas de quartos, disponibilidade e pagamentos. A API foi implementada em Python usando o framework Django e um banco de dados PostgreSQL para garantir integridade e escalabilidade dos dados.</p>
            </li>
            <!-- Adicione mais projetos conforme necessário -->
        </ul>
    </main>
    <footer class="text-center mt-4">
        <p>&copy; 2024 Amanda Scaranello Bontadine. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
